/*
 *  Style sheet for the combined index / slide / template pages.
 *  Last change: 2015-12-29 by André Wolff
 */
 

.jwlogo {
	display: none; /* hide JW Player logo */
}

html, body {
   height: 100%;
} 		

body {
	text-align: center;
	overflow-x: hidden;   /*  IE and FF requires auto*/
	  background-image:url(GrayTextile.jpg);
	  background-position:center top;
	  
	    background-repeat:repeat;
	  
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:16px;
	background-color: rgb(51,51,51); 
	background-color: rgba(51,51,51,1.0);
	color: #ffffff;
	margin: 0px;
}

img { border: 0px; }  /* required for IE */

/* Custom link styles */
a:link    { 
color: #00ccff; 
font-style: normal;
font-weight: normal;
text-decoration: none;
}  
a:visited {	
color: #00ccff; 
font-style: normal;	
font-weight: normal;	
text-decoration: none; 
} 
a:active  { 
color: #00ccff; 
font-style: normal; 
font-weight: bold; 
text-decoration: none;
}
a:hover   { 
color: yellow; 
font-weight: bold; 
text-decoration: none;
} 
/*********************************** Start Top navigation */
#navigation {
/*	background-color:#ffcccccc; for a full width menu-bar */
	z-index:999;
}

#navigation {

	display:none;
	position:relative;
	text-align:center;
	line-height:40px;
	margin-bottom: 10px;
}
.top-nav {
	text-align:center;
}
.top-nav a {
	display:block;
	white-space:nowrap;
	color: #000000;
	background-color: rgb(204,204,204); 
	background-color: rgba(204,204,204,1.0);	
}
.top-nav > ul {
}
.top-nav ul {
	display:inline-block;
	vertical-align:top;
	padding:0;
	margin:0;
	list-style-type:none;
	z-index:998;
}
.top-nav b {
	color: #ffffff;
	font-weight: bold;
}
.top-nav > ul > li {
	position:relative;
	display:inline-block;
	width:auto;
	height:100%;
}
.ie7 .top-nav > ul > li {
	float:left;
}
.top-nav > ul > li.home img {
	height: 20px;
	width: 20px;
	vertical-align: middle;
	padding-bottom: 4px;
}
.top-nav > ul > li > a {
	line-height:40px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 10px
}
.top-nav > ul > li ul {
	display:none;
	position:absolute;
	z-index:999;
	background-color: rgb(204,204,204); 
	background-color: rgba(204,204,204,1.0);	
}
.top-nav > ul > li > ul {
	min-width:100%;
}
.top-nav > ul > li > ul li {
	position:relative;
	display:block;
}
.top-nav > ul > li > ul > li a {
	line-height:40px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 10px
}
.top-nav > ul > li > ul > li ul {
	left:100%;
	top:0;
}
.top-nav a:hover, .top-nav a:active, .HorNav a:hover, .HorNav a:active, #NavHor a:focus {
	color: #F4EF65;
	background-color: #727272;
	text-decoration: none;
	-webkit-box-shadow: inset 2px 2px 2px 2px #727272;
	box-shadow: inset 2px 2px 2px 2px #727272;
}
.top-nav > ul > li:hover > ul,
.top-nav > ul > li > ul > li:hover > ul,
.top-nav > ul > li > ul > ul > li > li:hover > ul {
	display:block;
}
/***********************************  End  Top navigation */

.HorNav{
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	line-height: 50px;
}

.HorNav  img {
	vertical-align: middle;
	height: 30px;
	width: 30px;
	padding-bottom: 2px;
}

.HorNav a, .HorNav b, .HorNav a:visited {
	display: block;
	text-align: center;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
	color: #000000;
	background-color: rgb(204,204,204); 
	background-color: rgba(204,204,204,1.0);	
	padding-right: 10px;
	padding-left: 10px;
}
.HorNav b {
	color: #ffffff;
	font-weight: bold;
}
.HorNav ul {
 display:inline-block;
 list-style-type: none;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
}
.HorNav li {
	float: left;
	width: auto;
}


#page { display:none; }
#slideDiv { display:none; }
#expandIn360Cities{ display:none; }
#expand{ display:none; }
#nextslideimage{ display:none; }

#msg {
	font-size: 12px;  /* was 24 */
	background-color: #FFC;
	color: #333;
	position: absolute;
	line-height: 13px; /* was 25 */
	padding: 4px;
	display:none;
	z-index: 100;
}

#nav {
	height: 30px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

#nav #L1 {
	float: left;
	width: 10%;
}
#nav #L2 {
	float: left;
	width: 15%;
	text-align: center;
/* 	padding-top: 6px;  */
}
#nav #L3 {
	float: left;
	width: 10%;
}
#nav #L3 #fs {
	display: none;
}
#nav #Ml {
	float: left;
	width: 10%;
}

#nav #M {
	float: left;
	width: 10%;
}
#nav #Mr {
	float: left;
	width: 10%;
}
#nav #R3 {
	float: left;
	width: 10%;
}
#nav #R2 {
	float: left;
	width: 15%; 
}
#indexDiv #nav #R2 a .roundbutton {
display: inline;		
}
#nav #R1 {
	float: left;
	width: 10%;
}

#indexDiv #nav #R1 #opencloseSettings {
    position: relative;
	z-index: 9999;
}

#nav img {
	height: 30px;
	display: block;   
	margin-left: auto;   
	margin-right: auto;
}

#settingsDiv {
	display: none;
	height: auto;
	margin-top: 20px;
	border: 4px solid #999;
	font-size:  24px; /* 17px; for unmodified viewport */
	margin-right: 1%;
	margin-left: 1%;
	line-height: 70px;  /* new */
}

#settingsDiv #settings select{
    font-size: 24px; /* 17px; for unmodified viewport */
	height: 40px;  /*  24px; for unmodified viewport */
	margin-top: 10px;
}

#slideStripDiv {
	display: none;
	position: absolute;
	height: 60px;
	width: 100%;
/*	background-color: #999;  */
}

.container {
	float: left;
	display: table;
	height: 60px;
}

.stripbuttonDiv {
	float: left;
	margin-right: 8px;
	margin-left: 8px;
	line-height: 60px;
}

.stripbuttonDiv img {
	vertical-align: middle;
}

#stripText {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	background-color: rgb(51,51,51);
	background-color: rgba(51,51,51,1.0);
	padding-right: 10px;
	padding-left: 10px;
}

#stripExif {
	text-align: left;
	display: table-cell;
	vertical-align: middle;
	background-color: rgb(51,51,51);
	background-color: rgba(51,51,51,1.0);
	padding-right: 10px;
	padding-left: 10px;
}

#indexDiv #swipeMe p img {
	vertical-align: bottom;
}

.roundbutton {
  opacity: 1;
}
.HorNav  .roundbutton {
	vertical-align: middle;
}
button {
	font-size: 28px;
	cursor:pointer;
	text-decoration:none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#movie button {
	margin-top: 0px;
	margin-bottom: 0px;	
}

.button {
	cursor: pointer;
}

.filename {
	height: 48px;
	font-size: small;
	text-align: center;
}

.description {
	height: 48px;
	text-align: center;
}

.thumbs {
	margin-right: auto;
	margin-left: auto;
}


/* Start styles for a fixed number of thums per row  with table tags */
.thumbs td {
	vertical-align: top;
}

.thumbs .box {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: -2px;
	margin-bottom: -2px;
}
.thumbs img {
	cursor: pointer;
	max-width: 100%;
	height: auto;
	border-radius:  4px;
	padding:  0px;
	border: 2px solid;
	border-color: rgb(204,204,204); 
	border-color: rgba(204,204,204,1.0);
	 -webkit-touch-callout: none;   /* Disable save image */
	 -webkit-user-select: none;     /* disable copy */
}

#folders .box {
	word-break: break-all;
	cursor: pointer;
	border-radius:  4px;
	border: 2px solid;
	border-color: rgb(255,204,0); 
	border-color: rgba(255,204,0,1.0);
	color: #ffffff;
}

#folders .box img {
	border: 2px solid;
	#ffffcc00;	
	border-color: rgb(255,204,0); 
	border-color: rgba(255,204,0,1.0);
}

/* End styles for for a fixed number of thums per row  with table tags */


#swipeMe {
	margin-top: 0px;
	margin-right: 60px;
	margin-bottom: 0px;
	margin-left: 60px;
}


/* Highlight the image name on the slide pages. */
#slide .name {
	font-weight: bold;
	font-size: 14px;
}

#slideimage {
	border-style: solid;
	border-radius:  0px;
	padding:  0px;
	display:none;
	position: absolute;
	cursor: pointer;
	border-color: rgb(255,255,255); 
	border-color: rgba(255,255,255,1.0);
	/* -webkit-touch-callout: none;  * Disable save image */
}

/* Header */
.themeImage {

	display:none;
	position: relative;
	overflow:hidden;
	clear:both;   /* for FF   */
	width: 100%;  /* for IE 6 */
	margin-left:auto;
	margin-right:auto;
	padding-right: 4px;
}

.themeImage img {
	border-radius:  4px;
	padding:  0px;
	border: 2px solid;
	border-color: rgb(204,204,204); 
	border-color: rgba(204,204,204,1.0);
	 -webkit-touch-callout: none;  /* Disable save image, inv css  */
	 -webkit-user-select: none;   /*  disable copy, inv css  */
}

h1 {
	font-size: 22px;
	font-weight: bold;
	width: 100%; 
}

#title_in_image {
	position: absolute;
	top: -10px;
	left: 0;
} 

#title_out_image {
}
 
#profileImage {
	margin-top: 10px;
	border-radius:  4px;
} 
#indexDiv #audioplayer {
	margin-top: 10px;
}   

#imageinfo {
	visibility: hidden;
}

#askfs {
	margin-top: 5px;
	text-align: right;
}

#slidenavigation {
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}

#slidemaplinks {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}

#slidemaplinks .buttonDiv #slideButton {
	margin: 0px;
}

#panlink {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#footer {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
#footer #footer_left {
	float: left;
	width: 50%;
	text-align: left;
}

#footer #footer_right {
	float: right;
	width:50%;
	text-align: right;
}

#facebook  {
	position: absolute;
	top: 68px;
	left: 0px;
	width: 150px;
}

#image .caption {
	display:none; 
     /* was transparent:  */
     background-color: rgba(0,0,0,0.0); /* heeft ook geen effect want de kleur wordt bepaald door $('#slideimage').css('border-bottom-width', captionDivHeight); */
     /* dit heeft geen effect:
	background-color: rgb(255,255,255); 
	background-color: rgba(255,255,255,1.0);  */
	color: #333333;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	text-align: center;
	height:auto;
	-webkit-overflow-scrolling:touch !important;
}

#commentbox {
	display:none; 
	position: absolute;
	bottom: 30px;
	text-align: center;
	color: #ffffff;
	border:2px solid #ffffff;
	background-color: rgb(51,51,51); 
	background-color: rgba(51,51,51,0.5019608);
	padding: 10px;
	left:34%;
	width: 30%;
	/* rounded corners 
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;   */
	border-radius: 15px;
	-webkit-overflow-scrolling:touch !important;
}

#topcomment {
	position: absolute;
	top: 0px;
	width: calc(100% - 250px);
	text-align: center;
	color: #ffffff;
	left: 60px;
	-webkit-overflow-scrolling:touch !important;
}

#bottomcomment {
	position: absolute;
	bottom: 30px;
	width: calc(98% - 100px);
	text-align: center;
	color: #ffffff;
	-webkit-overflow-scrolling:touch !important;
	padding-left: 50px;
	padding-right: 50px;
}

#bottomcomment_shadow {
	text-shadow: 2px 2px 10px #333333;	/* was #333333; */
	position: absolute;
	bottom: 30px;
	width: calc(98% - 100px);
	text-align: center;
	color:#ffffff;
	-webkit-overflow-scrolling:touch !important;
	padding-left: 50px;
	padding-right: 50px;
}

#slideDiv {
	width: 100%;
	height:100%;
}

#slideDiv #movie {
	position: absolute;
}

#links  img {
	cursor: pointer;
}

#nav  img {
	cursor: pointer;
}

.buttonDiv {
	float: left;
	margin-right: 8px;
	margin-left: 8px;
}

.creditlink {
	font-size: 10px;
}


#indexDiv #swipeMe .albumDescription {
	margin-top: 10px;
	margin-bottom: 15px;
}
#indexDiv #swipeMe .commandButtons {
	height: 60px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#indexDiv #swipeMe .commandButtons img {
	max-height: 60px;
	vertical-align: middle;
	margin-right: 12px;
	margin-left: 12px;
}
#indexDiv #swipeMe .commandButtons button {
	margin-right: 12px;
	margin-left: 12px;
}


/* 
	styles.css - custom styles for the skin's Page templates
	Last change for the Slide Show 4 skin by André Wolff: 2015-10-16
	
*/

/************** Map page */

#map-page {
	margin-top: 20px;
	margin-right: 60px;
	margin-bottom: 20px;
	margin-left: 60px;
}
#map-page .map {
	background-color:#eee;
}

/************** About_album page */

#about_album-page {
	margin-top: 20px;
	margin-right: 60px;
	margin-bottom: 20px;
	margin-left: 60px;
}

#about_album-page .texts {
	overflow:hidden;
}
#about_album-page .texts p {
	line-height:1.5em;
}

/************** About page */

#about-page {
	margin:10px 10%;
}
#about-page .author {
	float:left;
	display:inline;
	margin:10px 30px 10px 0;
	max-width:40%;
}
#about-page .author img {
	max-width:100%;
}
#about-page .texts {
	overflow:hidden;
}
#about-page .texts p {
	line-height:1.5em;
}
/************** Music page */

#music-page {
	margin-top: 20px;
	margin-right: 60px;
	margin-bottom: 20px;
	margin-left: 60px;
}
#music-page  .texts {
	overflow:hidden;
}
#music-page  .texts p {
	line-height:1.5em;
}
/************** Contact page */

#contact-page .texts  .left {
	text-align: right;
	width: 29%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1%;
}
#contact-page .texts  .right {
	text-align: left;
	width: 70%;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#contact-page .texts #address {
	font-weight: bold;	
}


